{% extends 'layout.twig' %}

{% block content %}

<div class="main-w3layouts wrapper">
  <h1>Lista de Regalos</h1>
  <div class="main-agileinfo">
    <div class="agileits-top"> 
      <form action="{{ path_for('lista.nueva') }}" method="post"> 
        <input class="text" type="text" name="nombre" id="nombre" placeholder="Nombre de la lista" required="">
        <input type="submit" value="Crear lista">
      </form>
      <a class="inputLink" href="."> Volver</a>
    </div>	 
  </div>	
  <ul class="w3lsg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
{% endblock %}