{% extends 'layout.twig' %}

{% block content %}

<div class="main-w3layouts wrapper">
  <h1>Lista de Regalos</h1>
  <div class="main-agileinfo">
    <div class="agileits-top"> 
      <form action="{{ path_for('usuario.registro') }}" method="post"> 
        <input class="text" type="text" name="nombre" id="nombre" placeholder="Nombre" required="">
        <input class="text" type="text" name="apellidos" id="apellidos" placeholder="Apellidos" required="">
        <input class="text" type="text" name="email" id="email" placeholder="Email" required="">
        <input class="text" type="password" name="contrasena" id="contrasena" placeholder="Contraseña" required=""> 
        <input type="submit" value="REGISTRARSE">
      </form>
      <p>¿Ya tiene cuenta? <a href="{{ path_for('usuario.login') }}"> Inicie sesión</a></p>
    </div>	 
  </div>	
  <ul class="w3lsg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>	

{% endblock %}