{% extends 'layout.twig' %}

{% block content %}
<div class="main-w3layouts wrapper">
  <h1>Compartir lista</h1>
  <div class="main-agileinfo">
    <div class="agileits-top"> 
    <form action="{{ path_for('lista.compartir', {'idLista': idLista, 'nombreLista': nombreLista}) }}"  method="post" autocomplete="off">
        <input class="text" type="text" name="nombre" id="nombre" placeholder="Destinatario" required="">
        <input class="text" type="password" name="email" id="email" placeholder="Email" required=""> 
        <input type="submit" value="COMPARTIR">
        <a class="inputLink" href="{{ path_for('lista.misListas') }}">VOLVER</a>
      </form>
    </div>
  </div>
  
  <ul class="w3lsg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
{% endblock %}