{% extends 'layout.twig' %}

{% block content %}

<form action="{{ path_for('lista.compartir', {'idLista': idLista, 'nombreLista': nombreLista}) }}"  method="post" autocomplete="off">
	<label for="nombre">Destinatario
		<input type="text" name="nombre" id="nombre" placeholder="Escribe el nombre">
    </label>
    <label for="email">Correo
		<input type="email" name="email" id="email" placeholder="Escribe email">
    </label>
    <button type="submit">ACEPTAR</button>
</form>
<p><a href=".">VOLVER</a></p>
{% endblock %}