{% extends 'layout.twig' %}

{% block content %}

{# la función path_for('') llama la ruta con el nombre que recibe como parametro #} 

{% if app.session.get('usuario') %}
    <h2>Hola! </h2>
{% else %}
    <a href="{{ path_for('usuario.registro') }}">Registrarse</a>
    <a href="{{ path_for('usuario.acceso') }}">Iniciar sesión</a>
{% endif %}

{% endblock %}