{% extends 'layout.twig' %}

{% block content %}
<table>
	<thead>
		<tr>
			<th>Nombre de la lista</th>
		</tr>
	</thead>
	<tbody>
		{% for lista in listas %}
		<tr>
			<td>{{ lista.NOMBRE }}</td>
			<td><a href="{{ path_for('producto.lista', {'idLista': lista.ID, 'nombreLista': lista.NOMBRE})}}">Ver</a></td>
            <td><a href="{{ path_for('') }}">Editar</a></td>
			<td><a href="{{ path_for('') }}">Eliminar</a><td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<p><a href=".">Volver</a></p>
{% endblock %}