{% extends 'layout.twig' %}

{% block content %}

{# la función path_for('') llama la ruta con el nombre que recibe como parametro #} 
{{mensaje}}
<p><a href="{{destino}}">{{textoDestino}}</a></p>

{% endblock %}